<!DOCTYPE html>
<html>
  <head>
    <title>Turbotest1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
                                           
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to("Log In", new_user_session_path) %>
    <% end %>

    <%= yield %>
  </body>
</html>
